
/* Importing Bebas Neue font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* general/default */
body{
	overflow:hidden;
	background-color:#000000;
	margin:0;
	padding:0;
	font-family: 'Bebas Neue', cursive;
	box-sizing: border-box;
}

/* flipbook */
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1152px;
	height:750px;
	left:-576px;
	top:-375px;
}

.flipbook-viewport .page{
	width:576px;
	height:750px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

@media only screen and (max-width: 1200px) {
	.flipbook-viewport .flipbook, .flipbook-viewport .page{
		width: 900px;
		height: 1200px;
		left: -450px;
		top: -600px;
	}

}

/* .flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
} */

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

/* .flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
} */

/* Cover Page */

.tute-box {
	position: fixed;
	bottom: 0%;
	right: -200px;
}

@media only screen and (max-width: 1200px) {
	.tute-box {
		right: -10px;
		bottom: 35%;
	}
}

.tute-box p {
	color: white;
	font-size: 1.5rem;
	animation-name: text-bounce;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes text-bounce {
	 0% {
	 	transform: translateY(10px);
	 }

	 25% {
	 	transform: translateY(-10px);
	 }

	 50% {
	 	transform: translateY(-10px);
	 }

	 100% {
	 	transform: translateY(10px);
	 }
}

/* Page 3 */
.toc-container {
	font-size: 1.2rem;
	width: 90%;
	margin: 2% auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.toc-container h1 {
	letter-spacing: 3px;
}

.table-of-contents {
	width: 85%;
	margin: 3% auto;
	display: flex;
	flex-flow: column nowrap;
	background-color: rgba(255, 255, 255, .35);
	margin-top: 10%;
}

.table-of-contents div {
	border-radius: 10px;
	padding: 5%;
	margin: 0 auto;
	width: 85%;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

.table-of-contents p {
	color: black;
	opacity: 85%;
	font-size: 1.2rem;
	margin: 2%;
}

.table-of-contents button {
	background: none;
	border: none;
	text-decoration: underline;
	font-size: 1.2rem;
	font-family: 'Bebas Neue', cursive;
}

.table-of-contents button:hover {
	color: white;
}

#gallery-marker {
	background-color: black;
	opacity: 85%;
	color: whitesmoke;
	border-radius: 10px;
	font-size: .75rem;
	vertical-align: text-top;
	margin: 2% auto;
	padding: 5px;
}

.socials {
	display: flex;
	align-self: flex-start;
	margin-left: -5%;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
}

.socials a {
	color: black;
	opacity: 90%;
	margin: 0;
	padding: 0;
}

/* Page 4 */
#music-page {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 10px;
}

.song-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15% auto;
	padding: 2% 4%;
	width: 75%;
	background-color: rgba(0, 0, 0, .2);
}

.song-container a {
 width: 45%;
 color: white;
 letter-spacing: 2px;
 text-decoration: none;
 font-size: 1.2rem;
 margin: 2% auto;
 text-align: center;
}

.song-cover {
	width: 100%;
	margin: 2% auto;
}

/* Page 6 */
.embed-container {
	width:576px;
	height: 750px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -375px;
	margin-left: -288px;
	z-index: 10;
	overflow-y: scroll;
}

@media only screen and (max-width: 1200px) {
	.embed-container{
		width: 600px;
		margin-left: -300px;
	}

}

.embed-container iframe {
	width: 100%;
}

/* Page 8 */
#gallery-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-y: scroll;
}

.gallery-container {
	width: 100%;
	height: 100%;
	padding: 7%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: auto;
}

.gallery-img {
	width: 70%;
	margin: 20px auto;
	padding: 2%;
}

.fas {
	font-size: 2rem;
	margin: 0 10%;
}

/* Page 9 */

#mc_embed_signup {
	background: rgba(245, 245, 245, .7);
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 60%;
}

.press-container {
	width: 80%;
	margin: 2% auto;
}

.press-container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% auto;
}

.press-img {
	width: 100%;
	margin: 2% auto;
}

#press-link {
	width: 100%;
	margin: 2% auto;
	text-align: center;
}

/* Modal */
@media only screen and (max-width: 1200px) {
	.modal {
		height: 80%;
	}
}

.modal-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, .5);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
	font-size: 4rem;
	color: rgb(50, 50, 50);
	z-index: 10;
}

.modal {
	width: 75%;
	height: 95%;
	margin: 0 auto;
	padding: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 10px;
	z-index: 10;
}

.modal img {
	width: 600px;
	margin: auto;
}