
/* Importing Bebas Neue font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* general/default */
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
	font-family: 'Bebas Neue', cursive;
	box-sizing: border-box;
}

/* flipbook */
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1152px;
	height:750px;
	left:-576px;
	top:-375px;
}

.flipbook-viewport .page{
	width:576px;
	height:750px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

@media only screen and (max-width: 800px) {
	.flipbook-viewport .flipbook{
		width: 576px;
		height: 750px;
		left: -288px;
		top: -375px;
	}

}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

/* Page 3 */
.toc-container {
	font-size: 1.2rem;
	width: 90%;
	margin: 2% auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.toc-container h1 {
	letter-spacing: 3px;
}

.table-of-contents {
	width: 85%;
	margin: 3% auto;
	display: flex;
	flex-flow: column nowrap;
	background-color: rgba(255, 255, 255, .1);
}

.table-of-contents div {
	border-radius: 10px;
	padding: 5%;
	margin: 0;
	width: 85%;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

.table-of-contents p {
	color: black;
	opacity: 90%;
	font-size: 1.1rem;
}

.socials {
	display: flex;
	align-self: flex-start;
	margin-left: -5%;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
}

.socials a {
	color: black;
	opacity: 90%;
	margin: 0;
	padding: 0;
}

/* Page 4 */
#music-page {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 10px;
}

.song-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15% auto;
	width: 75%;
	background-color: rgba(0, 0, 0, .2);
}

.song-container a {
 color: white;
 letter-spacing: 2px;
 text-decoration: none;
 font-size: 1.2rem;
 margin: 2% auto;
}

.song-cover {
	width: 50%;
}

/* Page 6 */
.embed-container {
	width:576px;
	height: 750px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -375px;
	margin-left: -288px;
	z-index: 10;
	overflow-y: scroll;
}

@media only screen and (max-width: 800px) {
	.embed-container{
		margin-left: -200px;
	}

}

.embed-container iframe {
	width: 100%;
}

/* Page 8 */
#gallery-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-y: scroll;
}

.carousel-container {
	width: 100%;
	height: 100%;
	padding: 7%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: auto;
}

.carousel-img {
	width: 70%;
	margin: 20px auto;
	padding: 2%;
}

.fas {
	font-size: 2rem;
	margin: 0 10%;
}

/* Page 9 */
.email-container {
	width: 50%;
	margin: auto;
	position: relative;
	top: 30vh;
}

.email-container form {
	margin: 0 auto;
	text-align: center;
}