
/* Importing Bebas Neue font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* general/default */
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
	font-family: 'Bebas Neue', cursive;
}

/* flipbook */
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

/* Page 3 */
#music-page {
	overflow-y: scroll;
}

#music-page::-webkit-scrollbar {
	width: 1em;
}

#music-page::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#music-page::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .3);
	border-radius: 10px;
}

.song-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15% auto;
	width: 90%;
}

.song-container a {
 color: black;
 text-decoration: none;
 margin: 2% auto;
}

.song-cover {
	width: 40%;
}

/* Page 5 */
.embed-container {
	width:461px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -230px;
	z-index: 10;
}

.embed-container iframe {
	width: 100%;
	margin: auto;
}

/* Page 7 */
.carousel-container {
	width: 90%;
	display: flex;
}

.carousel-container img {
	display: none;
}

/* Page 8 */
.email-container {
	width: 50%;
	margin: auto;
	position: relative;
	top: 30vh;
}

.email-container form {
	margin: 0 auto;
	text-align: center;
}